<div class="bw">
  <div class="dh">
    <div class="en bpz">
      <nav class="bqg">
        <div class="bqa">
          <button class="bow boy bqb" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
            <span class="adp">Toggle nav</span>
          </button>
          <a class="bqc brd" href="index.html">
            <span class="bv bhc bqd"></span>
          </a>
        </div>

        <div class="collapse bpd" id="nav-toggleable-md">
          <form class="bqe">
            <input class="form-control" type="text" placeholder="Search...">
            <button type="submit" class="nz">
              <span class="bv bhw"></span>
            </button>
          </form>
          <ul class="nav pb nav-stacked wz">
            <li class="axq">Dashboards</li>
            <li class="pa">
              <a class="oy" routerLink="/layout/home" routerLinkActive="active">Home</a>
            </li>
            <li class="pa">
              <a class="oy " routerLink="/layout/userlist" routerLinkActive="active">Users</a>
            </li>
            <li class="pa">
              <a class="oy " routerLink="/layout/search" routerLinkActive="active">Search</a>
            </li>
            <li class="pa">
              <a class="oy " href="icon-nav/index.html">Icon nav</a>
            </li>

            <li class="axq">More</li>
            <li class="pa">
              <a class="oy " href="docs/index.html">
                Toolkit docs
              </a>
            </li>
            <li class="pa">
              <a class="oy" href="http://getbootstrap.com" target="blank">
                Bootstrap docs
              </a>
            </li>
            <li class="pa">
              <a class="oy " href="index-light/index.html">Light UI</a>
            </li>
            <li class="pa">
              <a class="oy" href="#docsModal" data-toggle="modal">
                Example modal
              </a>
            </li>
          </ul>
          <hr class="bre aez">
        </div>
      </nav>
    </div>
    <div class="et brf">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>