<section class="jumbotron text-center">
  <div class="container">
      <h3 style="text-align: center">Search Customer Records</h3>
  </div>
  <div class="container">
      <form>
          <div class="row">
              <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="Customer ID">
              </div>
              <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="Customer Name">
              </div>
              <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="Mobile Number">
              </div>
          </div>
    
          <div class="form-row" style="margin-top:20px">
            <div class="form-group col-md-6">
              <button type="search" class="btn btn-lg btn-info btn-block"><i class="fa fa-search"></i>Search</button>
            </div>
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-lg btn-secondary btn-block"><i class="fa fa-search-plus"></i>All Records</button>
              </div>
          </div>
      </form>
  </div>
</section>
